.register {
	margin: 50px auto; width: 400px;
}

.register input {
	height: 20px;
}

.register table td {
	vertical-align: top;
}

.error {
	color:red;
}
.error input {
	border: 1px solid red;
}

.error_message {
	color: red;	font-weight: bold; text-align: right;
}

.checkboxwraper {
	vertical-align: middle;
}
.checkboxwraper input {
	vertical-align: middle;
}

.capchaimg {
	width:200px;
	height:100px;
}
.capchaimg img {
	width: 100%;
	height: 100%;
}

